*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #e6e6e6;
}


@font-face {
  font-family: "Roboto";
  src: url("Roboto-light-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

/*landing page*/
header {
  background-image: url(background.jpg);
  min-width: 100%;
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

a {
  text-decoration: none;
  color: #e6e6e6;
}

p {
  padding-bottom: 15px;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  position: fixed;
  top: 0;
  right: 30px;
  flex-direction: row;
}

header li {
  padding-right: 15px;
  font-weight: bold;
}


header h1 {
  text-align: center;
  font-size: 29px;
  padding-top: 45px;
}

.mainheader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainheader h1 {
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.mainheader p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 71px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-bottom: 0;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: auto;
  color: black;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}

 /*about me*/

article {
  min-width: 100%;
  background-color: #2fa9f2;
  padding-bottom: 15px;
}

.aboutme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutme h1 {
  text-align: center;
  width: 100%;
  margin-top: 35px;
  padding-bottom: 15px;
}

.aboutme p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.aboutmeimage {
  display: flex;
  justify-content: center;
}

.whatido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.bottomarticle ul {
  text-align: center;
}

.bottomarticle li {
  padding-top: 5px;
}


.bottomarticle h1 {
  text-align: center;
  padding-top: 15px;
}

/*projects*/
section {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #6e9dff;
}

.projects {
  width: 100%;
  height: auto;
  padding:0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.projects h1 {
  text-align: center;
  width: 100%;
  padding-top: 50px;
  font-size: 40px;
  margin-bottom: 40px;
}


.projecticons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projecticons a {
  margin-bottom: 15px;
}

.drumset {
  background-image: linear-gradient(to left bottom, #2468cf, #0099f2, #00bfd4, #00dc85, #a8eb12);
  width: 200px;
  height: 200px;
  font-size: 50px;
  border-radius: 20px;
  padding: auto;
  line-height: 181px;
  text-align: center;
  font-weight: bold;
}

.clock  {
  background-image: linear-gradient(to left top, #9d18b9, #fa007b, #ff542f, #f3aa00, #a8eb12);
  width: 200px;
  height: 200px;
  font-size: 50px;
  border-radius: 20px;
  padding: auto;
  line-height: 181px;
  text-align: center;
  font-weight: bold;
}

.quiz  {
  background-image: linear-gradient(to bottom, #edcf65, #edae45, #eb8a2f, #e76128, #e02c2c);
  width: 200px;
  height: 200px;
  font-size: 50px;
  border-radius: 20px;
  padding: auto;
  line-height: 181px;
  text-align: center;
  font-weight: bold;
}

/*contact me*/

form {
  width: 100%;
  min-height: 100vh;
}

.contactmeform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A1B6CB;
}

.contactmeform h1 {
  text-align: center;
}

.contactmeform p {
  text-align: center;
}

.contactme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .4);
  padding-top: 15px;
  width: auto;
}

.formrow {
  text-align: center;
  margin-bottom: 5px;
}

.labelone {
  margin-left: 25px;
  color:#817E7E;
  font-weight: bold;
}

.labeltwo {
  color: #817E7E;
  font-weight: bold;
}

textarea {
  width: 90%;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  resize: none;
}

.submit {
  min-width: 25%;
  align-self:center;
  font-weight: bold;
  background-color: lightblue;
  padding: 5px;
  border: none;
  margin-bottom: 15px;
}
