*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

h1 {
  font-size: 5vw;
  position: absolute;
  top: 38%;
  left: 12%;
  height: 100px;
  width: auto;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: -50%;
}

.snowflakes {
  width: 100vw;
  height: 100vh;
}
.santa {
  position: absolute;
  top: 30%;
  left: 60%;
  height: 200px;
  width: 150px;
}

.slowfall1 {
  animation: 3s linear infinite fall;
  left: 10%;
}

.slowfall2 {
  animation: 3s linear 2s infinite fall;
  left: 20%;
}

.slowfall3 {
  animation: 4s linear 2s infinite fall;
  left: 30%;
}

.slowfall4 {
  animation: 10s linear 2s infinite fall;
  left: 40%;
}

.slowfall5 {
  animation: 6s linear 2s infinite fall;
  left: 50%;
}

.slowfall6 {
  animation: 4s linear 2s infinite fall;
  left: 60%;
}

.slowfall7 {
  animation: 2s linear 2s infinite fall;
  left: 70%;
}

.slowfall8 {
  animation: 11s linear 2s infinite fall;
  left: 80%;
}

.slowfall9 {
  animation: 5s linear 2s infinite fall;
  left: 90%;
}


@keyframes fall {
  0% {
    opacity: 0%;
  }
  5%{
    opacity: 100%;
  }
  100% {
    opacity: 60%;
    top: 85%;
  }
}
