* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pie-chart-value {
  fill: none;
  stroke-width: 119;
  transition: stroke-dasharray 0.2s linear;
}

input:focus, select:focus {
  border: #f28d42 5px solid;
}


ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  list-style: none;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  background-color: #e0e0e0;
  border: 2px #183661 inset;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

section:first-of-type {
  border-bottom: none;
}

section:last-of-type {
  border-top: none;
}

li {
  margin: 20px 20px 20px 20px;
  font-weight: 600;
  text-transform: capitalize;
  width: 96px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dae1e7;
  color: #f6f6f4;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*HEADER*/

h1 {
  padding-bottom: 15px;
  font-size: 60px;
  z-index: 2;
  opacity:6;
}

h2 {
  font-size: 36px;
  z-index: 2;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 300px;
  background-image: url(hero.jpg);
  background-position: center;
  color: #f6f6f4;
}

.filter {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
    background-color: #3d4b59;
    height: 300px;
    width:100%;
    opacity: 0.8;
    z-index: 1;
}

button {
  background-color: #f28d42;
  color: #f6f6f4;
  border: 2px #183661 solid;
  border-radius: 50%;
  height:100px;
  font-weight: 600;
  font-size: 13px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*MAIN SECTION*/


main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 300px);
}


section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  width: 100%;
  text-align: center;
  background-color: #3d4b59;
  padding-top: 60px;
}

section:first-of-type {
  border-top: solid #a7d0d4 2px;;
}

.inputform {
  margin: 0 15px 20px 15px;
}

.column {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.column-seperator {
  display: flex;
  flex-direction: row;
}

.section-header {
  margin-bottom: 20px;
}

.section-header label {
  display: inline-block;
  margin: 20px 0 0 0;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.row span {
  padding-right: 5px;
}

#currency {
  width: auto;
}

input[name="monthly"] {
  width: 60%;
  text-align: center;
}

label {
  text-align: center;
  margin: 0px 0px 20px 0;
  font-weight: 600;
}

p {
  font-weight: 600;
}

input, select {
  margin: 0 0 5px 0;
  align-self: center;
  width:100%;
  max-width: 200px;
  border: #183661 2px solid;
  height: 27px;
  padding-left: 5px;
}





button {
  width: 100px;
  align-self: center;
  margin: 20px 0 20px 0;
}

@media screen and (min-width: 600px) {

  header {
    height: 170px
  }

  .filter {
    height: 170px;
  }

  main {
    height: calc(100vh - 170px)
  }
  section {
    width: 50%;
  }

  ul {
    padding: 0px 20px 0px 20px;
  }

  section:last-of-type {
    border-top: solid #a7d0d4 2px;;
  }

}

@media screen and (min-width: 811px) {
  label, p {
    font-size: 22px;
  }

}
