* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pie-chart-value {
  fill: none;
  stroke-width: 119;
  transition: stroke-dasharray 0.2s linear;
}

input:focus {
  border: yellow 5px solid;
}


ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  list-style: none;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  background-color: #e0e0e0;
  border: 2px black inset;
  border-radius: 10px;
}

li {
  margin: 20px 20px 20px 20px;
  font-weight: 600;
  text-transform: capitalize;
  width: 78px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dae1e7;
  color: #f6f9ff;
}
/*HEADER*/

h1 {
  padding-bottom: 15px;
  font-size: 60px;
}

h3 {
  font-size: 36px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 0 0 0 0;
  min-height: 150px;
  background-color: #3537b8;
  color: #dae1e7;
  border-bottom: solid 	#f6f9ff 3px;
}


/*MAIN SECTION*/


main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 173px);
}


section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  width: 100%;
  text-align: center;
  border: solid #dd6b4d 2px;
  background-color: #5d88d0;
  border-top: none;
  border-bottom: none;
  padding-top: 60px;
}

.inputform {
  margin: 0 15px 20px 15px;
}

.column {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.column-seperator {
  display: flex;
  flex-direction: row;
}

.section-header {
  margin-bottom: 20px;
}

.section-header label {
  display: inline-block;
  margin: 20px 0 0 0;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.row span {
  padding-right: 5px;
}

#currency {
  width: auto;
}

input[name="monthly"] {
  width: 60%;
  text-align: center;
}

label {
  text-align: center;
  margin: 0px 0px 20px 0;
  font-weight: 600;
}

p {
  font-weight: 600;
}

input, select {
  margin: 0 0 5px 0;
  align-self: center;
  width:100%;
  max-width: 200px;
  border: #183661 2px solid;
  height: 21px;
  padding-left: 5px;
}





button {
  width: 100px;
  align-self: center;
  margin: 20px 0 20px 0;
}

@media screen and (min-width: 600px) {
  section {
    width: 50%;
  }

  ul {
    padding: 0px 20px 0px 20px;
  }

}
