* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7FAF9;
  font-family: "Montserrat", sans-serif;
  color: #F7FAF9;
}
body a[href^=tel] {
  text-decoration: inherit;
  color: inherit;
}

header {
  height: 70px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #25283D;
  background-color: #F7FAF9;
  border-top: 2px solid #25283D;
  border-bottom: 2px solid #25283D;
  margin-top: 50px;
  transition: all 0.4s ease-in-out;
}
header h1 {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #577FC2;
  border: 2px solid #25283D;
  z-index: 3;
  text-shadow: #25283D 2px 2px;
}

.menu {
  visibility: collapse;
  opacity: 0%;
  transition: all 0.4s ease-in-out;
  border: 2px #25283D solid;
  border-top: none;
  background-color: #577FC2;
  position: absolute;
  top: 48px;
  width: 101%;
  z-index: 1;
  font-size: 20px;
}
.menu a {
  margin: 0 20px 0 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
.menu a:hover {
  color: #F7FAF9;
}
.menu a:visited {
  color: #F7FAF9;
}
.menu a:active {
  color: rgba(123, 51, 198, 0.7);
}
.menu a:before {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.menu li {
  list-style: none;
  margin: 10px 0 10px 0;
}
.menu li:first-of-type {
  margin-top: 30px;
}
.menu li:last-of-type {
  margin-bottom: 30px;
}

.icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 0 20px 0 20px;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}

.home {
  display: flex;
  justify-content: center;
}

.home img {
  height: 42px;
  width: 42px;
}

.menu-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 50px;
  z-index: 4;
}

.menu-icon input[type=checkbox], .menu-icon input[type=checkbox]:checked {
  -webkit-appearance: none;
  outline: none;
  -webkit-border-radius: 0px;
  border: none;
  opacity: 0%;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 5;
}

.menu-icon span {
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px;
  background: black;
  width: 40px;
  height: 3px;
  border-radius: 10px;
}

.menu-icon input[type=checkbox]:checked ~ span:first-of-type {
  transform: rotate(45deg) translate(9px, 9px);
}

.menu-icon input[type=checkbox]:checked ~ span:nth-child(3) {
  /* Required for IE 5, 6, 7 */
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=0);
  /* Older than Firefox 0.9 */
  -moz-opacity: 0;
  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: 0;
  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: 0;
}

.menu-icon input[type=checkbox]:checked ~ span:last-of-type {
  transform: rotate(-45deg) translate(10px, -10px);
}

.menu-icon span:last-of-type {
  margin-bottom: 0;
}

article {
  height: 80vh;
  width: 100%;
  text-shadow: 2px 2px #25283D;
  background: url(test2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
article h2 {
  margin: 0 0 35px 0;
  padding: 0 10px 0 0;
}
article h3 {
  font-size: 24px;
  padding: 0 10px 0 0;
}

.slogan {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 30px;
}

.description {
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 5%;
  font-size: 25px;
}

.color {
  height: 100%;
  width: 100%;
  background: purple;
  opacity: 0.5;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0 40px 0;
  text-shadow: #25283D 2px 2px;
  border: #25283D 2px solid;
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(123, 51, 198, 0.7);
}
section h2 {
  text-align: left;
}
section h3 {
  line-height: 1.5;
  margin-bottom: 35px;
  font-size: 34px;
}

section:last-of-type {
  margin-bottom: 0;
}

.service-section {
  font-weight: 700;
}

.services {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}
.services p {
  margin: 35px 0 35px 0;
  font-size: 16px;
}
.services .buttonlink {
  display: inline-block;
  width: auto;
  opacity: 0%;
  padding: 5px;
  font-size: 21px;
  color: #F7FAF9;
  font-weight: 400;
  text-shadow: 2px 2px #25283D;
  background-color: #577FC2;
  border: #25283D 2px solid;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.services .buttonlink:hover {
  color: #25283D;
  text-shadow: #25283D 0px 0px;
  transform: scale(1.1);
  background-color: #F7FAF9;
  font-weight: bold;
}
.services .buttonlink:focus {
  outline: 0;
}

.credentials {
  display: flex;
  justify-content: center;
  padding: 50px;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.credentials p {
  margin: 35px 0 35px 0;
  font-size: 16px;
}

.contactus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-shadow: #25283D 2px 2px;
  color: #F7FAF9;
}
.contactus h3 {
  margin-bottom: 20px;
  font-size: 34px;
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}
.information a:visited {
  color: #F7FAF9;
}
.information ul {
  margin-top: 20px;
  list-style: none;
}
.information ul li {
  padding-bottom: 10px;
}

form {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(87, 127, 194, 0.9);
  border: #25283D 2px solid;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  opacity: 0%;
}
form .form-header {
  text-align: center;
  font-size: 28px;
}

.form-input {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
.form-input input, .form-input textarea {
  width: 100%;
  margin: 10px 0 10px 0;
  padding-bottom: 10px;
  font-size: 16px;
  text-shadow: #25283D 2px 2px;
  font-family: "Montserrat", sans-serif;
  color: #F7FAF9;
  border: none;
  border-radius: 0;
  border-bottom: #F7FAF9 2px solid;
  background-color: inherit;
}
.form-input input::placeholder, .form-input textarea::placeholder {
  color: #F7FAF9;
}
.form-input input:focus, .form-input textarea:focus {
  outline: 0;
  transform: scale(1.1);
}
.form-input .submit {
  align-self: center;
  width: auto;
  background-color: rgba(123, 51, 198, 0.7);
  padding: 5px;
  border: #F7FAF9 2px solid;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-input .submit:hover {
  background-color: #F7FAF9;
  text-shadow: #25283D 0px 0px;
  border: #25283D 2px solid;
  color: #25283D;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.form-input .submit:focus {
  transform: scale(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:visited {
  border: none;
  border-bottom: #F7FAF9 2px solid;
  -webkit-text-fill-color: #F7FAF9;
  -webkit-box-shadow: inset 0 0 0px 2000px #5A78C2;
  text-shadow: #25283D 2px 2px;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 20px;
}

footer {
  background-color: #577FC2;
  border: #25283D 2px solid;
  border-bottom: none;
}

@media screen and (min-width: 900px) {
  header {
    height: 70px;
    width: 100%;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
  }
  header .desktop-home {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  header .desktop-home:hover {
    background-color: rgba(123, 51, 198, 0.7);
  }
  header .desktop-home a {
    text-decoration: none;
  }
  header .desktop-home a:visited {
    color: #25283D;
  }
  header .desktop-home a:hover {
    color: #F7FAF9;
    text-shadow: 2px 2px #25283D;
  }
  header .desktop-home a:active {
    color: #25283D;
    background-color: #F7FAF9;
    text-shadow: none;
  }

  nav {
    display: flex;
    position: static;
    height: 100%;
    background-color: #F7FAF9;
    border: none;
    z-index: 1;
  }

  .icon-container {
    display: none;
  }

  .menu {
    display: flex;
    position: static;
    justify-content: space-around;
    flex-direction: row;
    visibility: visible;
    height: 100%;
    opacity: 100%;
    border: none;
    border-left: 2px #25283D solid;
  }
  .menu li {
    display: flex;
    justify-content: center;
  }
  .menu a {
    align-self: center;
  }

  .menu li:first-of-type, .menu li:last-of-type {
    margin: 10px 0 10px 0;
    padding-bottom: 0;
  }

  article {
    background: url(hero.jpg);
    background-size: cover;
  }
  article .slogan {
    color: #F7FAF9;
    position: absolute;
    top: 40%;
    left: 5%;
  }
  article .description {
    position: absolute;
    top: 49%;
    left: 5%;
  }

  section {
    width: 48%;
  }

  section:last-of-type {
    margin-bottom: 30px;
  }

  .collapsable-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .service-section {
    height: 400px;
  }

  .services {
    padding: 50px;
  }
  .services p {
    font-size: 19px;
  }

  .credentials {
    height: 400px;
  }

  .contact-section {
    margin: 0px auto 40px auto;
    width: 98%;
    align-self: center;
  }

  .contactus {
    width: 100%;
    padding: 100px;
    flex-direction: row;
  }

  .information {
    margin-right: 10px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }

  .form-input input, .form-input textarea {
    font-size: 20px;
  }
}
@media screen and (orientation: landscape) {
  article h2 {
    margin: 0 0 15px 0;
  }

  .slogan {
    top: 43%;
    left: 5%;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
