* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}


body h1 {
  font-size: 80px;
  z-index: 1;
  line-height: 1;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

body h2 {
  font-size: 34px;
  font-weight: 400;
}

body h3 {
  position: relative;
  font-size: 22px;
  margin: 15px;
  margin-top: 45px;
  z-index: 1;
  font-weight: 400;
}

body p {
  margin-top: 15px;
  font-size: 24px;
  z-index: 1;
}

body li {
  position: relative;
  font-size: 20px;
  margin: 15px;
  z-index: 1;
  list-style: none;
  font-weight: 400;
}

.structure li:last-of-type {
  margin-bottom: 25px;
}


body a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #f30067;
}


.structure h1 {
  font-size: 50px;
  padding-top: 90px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: solid 2px #f30067;
}

.structure h2 {
  margin-top: 55px;
  margin-bottom: 25px;
  font-size: 33px;
}

.structure h3 {
  font-size: 30px;
}

.structure p {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 730px;
  padding: 15px;
}

.structure p:last-of-type {
  padding-bottom: 25px;
}

header {

  min-height: 568px;
  background-image: url(background.jpg);
  background-size:  cover;
  background-repeat: no-repeat;
}

.else {
  background-image: none;
  min-height: auto;
}

.structure {
  border-bottom: 2px solid #00d1cd;
  margin-bottom: 90px;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.hamburger {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.hero {
  background: rgba(0, 0, 0, 0.4);
  min-height: 568px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.hamburger input {
  position: absolute;
  z-index: 2;
  margin: 15px;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 3;
}

.hamburger span {
  display: block;
  position: relative; /*This allows for the use of z-index to keep the hamburger icon above the menu */
  top: 20px;
  left: 14px;
  margin-bottom: 10px;
  background-color: #f30067;
  border-radius: 10px;
  width: 40px;
  height: 5px;
  z-index: 2;
  transition: all 1s ease;
}

.hamburger input:checked ~ span /*The general sibling combinator (~) separates two selectors and matches the second element only if it follows the first element (though not necessarily immediately), and both are children of the same parent element.*/
{
  opacity: 1;
  transform: rotate(45deg) translate(10px, 10px);
}

/*
 * But let's hide the middle one.
 */
.hamburger input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.hamburger input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(11px, -11px);
}

.menu {
  position: fixed;
  top: 0;
  margin: 0px 0 0 0px;
  background-color: white;
  transform-origin: 0% 0%;
  transform: translate(0, -107%);
  height: auto;
  max-height: 100%;
  overflow-y: auto;


  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 1;
}



.hamburger ul {
  text-align: center;
  width: 100%;
}

.menu li {
  list-style: none;
  padding: 19px;
  width: 90%;
  margin: auto;
  border-bottom: 0.5px #00d1cd solid;
}

.spacing li {
  padding: 21px;
}

.menu li:last-of-type {
  border-bottom: none;
}

.hamburger input:checked ~ ul {
  transform: none;
}

.hamburger input:checked ~ span  {
  background-color: #00d1cd;
}

.options {
  background: rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-bottom: -30px;
  margin-top: 15px;
  padding: 15px;
  border: solid #00d1cd 2px;
  max-width: 560px;
}

.options h3 {
  margin: 0;
}

.options a {
  color: white;
  font-size: 22px;
  color: #f30067;
}

.options ul {
  list-style: none;
}


.circleone {
  position: fixed;
}

.circletwo {
  width:200px;
  height: 200px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.arrow span {
  position: fixed;
  bottom: 5px;
  right: 13px;
  width: 35px;
  height: 35px;
  border: solid #00d1cd 8px;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}

.structure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.structure img {
  height: 300px;
  width: 233px;
  margin: auto;
  border: solid 2px #f30067;
  border-radius: 50px;
  margin-bottom: 25px;
}

.iframe-mar {
  margin: 15px;
  height: 50vh;
}

span {
  text-align: center;
}

@media all and (min-width: 480px) and (max-width: 735px) {

  .hero {
    min-height: 770px
  }

  body h1 {
    font-size: 120px;
    z-index: 1;
    line-height: 1;
    margin: 15px;
  }

  body h2 {
    font-size: 50px;
    margin-top: 25px;
    margin: 15px;
  }

  body h3 {
    font-size: 36px;
  }

  body p {
    margin-top: 15px;
    font-size: 34px;
    z-index: 1;
  }

  .options a {
    font-size: 30px;
  }
}
@media all and (max-width: 736px) {}
@media all and (max-width: 980px) {}
@media all and (max-width: 1280px) {}
@media all and (max-width: 1690px) {}
